{% extends 'base.html' %}
{% load static %}


{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="contact-container">
    
    <div class="contact-form">
        <h2>Contact Us</h2>
        <form>
            <input type="text" placeholder="Your Name" required>
            <input type="email" placeholder="Your Email" required>
            <textarea placeholder="Your Message" required></textarea>
            <button type="submit">Send Message</button>
        </form>
    </div>

    
    <div class="contact-image">
        <img src="{% static 'images/ROZ.jpeg' %}" alt="Contact Image">
    </div>
</div>

{% endblock %}




